Django>=5.0
djangorestframework>=3.14.0
python-dotenv
Pillow>=10.0
psycopg2-binary
cloudinary
django-cloudinary-storage
dj-database-url
whitenoise
gunicorn
djangorestframework-simplejwt
PyJWT
google-generativeai
google-genai
django-redis
redis
requests>=2.31.0
